<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
  <head>
    <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
    />

    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="mdbootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="mdbootstrap/css/mdb.css" />

    <link
      href="font-awesome/css/font-awesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Hello World</title>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX50gEvAyz9A6Sh3BMvC9eOblbLLZOses&libraries=places"
      async
      defer
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>

    <script>
      var app = {};
      app.pages = {};
    </script>
  </head>
  <body>
    <div id="main">
      <div id="menu">
        <nav class="navbar navbar-light navbar-1 white">
          <!-- Collapse button -->
          <button
            class="navbar-toggler toggler-example"
            type="button"
            @click="showMenu = true "
          >
            <span class="dark-blue-text"><i class="fa fa-navicon"></i></span>
          </button>
        </nav>

        <div class="menuOverlay " v-show="showMenu">
          <div class="menu-div" @click="showMenu = false">
            <ul class="list-group list-group-flush card">
              <li class="list-group-item" @click.prevent="go('exit')">Exit</li>
              <li class="list-group-item" @click.prevent="go('settings')">
                <i class="fa fa-times"></i> Choose Lang or City
              </li>
              <li class="list-group-item" @click.prevent="go('page|about')">
                <i class="fa fa-times"></i> About
              </li>
              <li class="list-group-item" @click.prevent="go('map')">
                <i class="fa fa-times"></i> Continue
              </li>

              <li class="list-group-item" @click="showMenu = false">
                <i class="fa fa-times"></i>Close
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="pagePlace">
        <!----------------------------------------page-->

        <!--page-->
        <div v-show="display == true" class="page" id="vue_page_page">

          
              <div class="card card-image page" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
                <div class="page text-white text-center rgba-stylish-strong py-5 px-4">
                  <div class="py-5">
              
                    <!-- Content -->
                   
                    <div id="page"></div>
                   
                  </div>
                </div>
              </div>
          </div>

        </div>
        <!--page-->
        <div v-show="display == true" id="vue_page_map" class="page">
          <div id="gmap"></div>

          <!-- extra player-->
          <div v-if="extraPoint != null " class="top extraPlayer">
            <div class="card maincard">
              <div class="media">
                <img
                  class="d-flex align-self-center mr-3 fifty-img"
                  v-bind:src="extraPoint.img"
                  alt="Generic placeholder image"
                />
                <div class="media-body">
                  <a @click="pressExtra(extraPoint.id)">
                    {{ extraPoint.title }}
                  </a>
                </div>
                <div>
                  <a @click="closeExtra()" href="#"
                    ><i class="fa fa-times"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <!-- main player-->
          <div v-if="activePoint != null " class="top mainPlayer">
            <div class="card maincard">
              <div class="media">
                <img
                  class="d-flex align-self-center mr-3 fifty-img"
                  v-bind:src="activePoint.img"
                  alt="Generic placeholder image"
                />
                <div class="media-body">
                  <p class="font-weight-bold">
                    {{ activePoint.title }}, {{ mainPlayer.getDuration() }}
                  </p>

                  <progress value="22" max="100"></progress>
                </div>
                <div>
                  <a @click="playerClear" href="#"
                    ><i class="fa fa-times"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end mai palayer , start featury-->

          <div v-if="feautrePoints != null" class="top feauturePlayer">
            <div class="card maincard">
              <ul class="list-unstyled" v-for="(item, index) in feautrePoints">
                <li class="media hoverable">
                  <img
                    class="d-flex mr-3 fifty-img"
                    @click="pressExtra(item.id)"
                    v-bind:src="item.img"
                    alt="Generic
                  placeholder image"
                  />
                  <div class="media-body">
                    <p>{{ item.title }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end mai palayer , start featury-->
        <!--page-->
        <div
          v-show="display == true"
          class="page"
          id="vue_page_settings"
        >
          <div style="padding:20vh 10px;">
            <h1>Please select</h1>
            <div class="input-group mb-3">
              <select ref="lang" v-model="lang"  class="browser-default custom-select">
                 <option v-for="(value) in langs"    :value="value.code">{{value.name}}</option>
              </select>
            </div>

            <div   class="input-group mb-3" v-if="cities != null ">
              <select  ref="city"  v-model="city" class="browser-default custom-select"  >
                <option v-for="(value) in cities" :value="value.id">{{value.title}}</option>
              </select>
            </div>
            <div class="alert alert-primary" v-if="info != null" role="alert">
               {{info}}
              </div>
            <div class="inpu-goup mb-3">
                <button type="button" @click="pressStart()" class="btn btn-deep-purple">Lets start</button>
            </div>
          </div>
        </div>
        <!----------------------------------------page-->
      </div>
    </div>
  </body>

  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/translate.js"></script>
  <script type="text/javascript" src="js/api.js"></script>

  <script type="text/javascript" src="js/points.js"></script>


  <script type="text/javascript" src="js/index.js"></script>
  <script src="js/map.js"></script>
  <script src="js/page.js"></script>
  <script src="js/settings.js"></script>

  <script src="js/menu.js"></script>

</html>
