
.page{
    height: 100vh;
}

.top{
    position: fixed;
    z-index: 999;
    border: 1px solid red;
    width: 100%;
}
.extraPlayer{
    top:20px;
}
.mainPlayer{
    top:60px;
}
.addvancedPlayer{
    bottom:10px;
}
#gmap{
    position: fixed;
    z-index: 333;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#header{
    position: fixed;
    z-index: 777;
    right: 5px;
    top:5px;
    background: #c90090;
    cursor: pointer;
}
#header i{
    text-shadow: 1px 1px #999; 
    font-size:25px;
    padding: 17px;
    color: white;
    
}

.menuOverlay{
    position: fixed;
    background: rgba(37,40,57,0.95);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
   
}

.menuOverlay ul{
    display: inline-block;
    position: relative;
    text-align: center;
    list-style: none;
    padding: 0;
    width: 100%;

    padding-top: 30vh;
}

.menuOverlay ul li{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.shadow {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}