.page {
  height: 100vh;
}

.top {
  position: fixed;
  z-index: 999;
  background: white;
  width: 100%;
}
.smallimg {
  width: 20px;
  height: 20px;
  float: left;
}
.extraPlayer {
  top: 40px;
  border: 1px solid green;
}
.mainPlayer {
  top: 100px;
  border: 1px solid red;
}
.feauturePlayer {
  bottom: 10px;
}
#gmap {
  height: 100vh;
  width: 100%;
}

#header {
  position: fixed;
  z-index: 777;
  right: 5px;
  top: 5px;
  background: #c90090;
  cursor: pointer;
}
#header i {
  text-shadow: 1px 1px #999;
  font-size: 25px;
  padding: 17px;
  color: white;
}

.menuOverlay {
  position: fixed;
  background: rgba(37, 40, 57, 0.95);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.menuOverlay ul {
  display: inline-block;
  position: relative;
  text-align: center;
  list-style: none;
  padding: 0;
  width: 100%;

  padding-top: 30vh;
}

.menuOverlay ul li {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.shadow {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
